<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>
<!-- The form should submit to MenuController.create or  MenuController.update, depending on whether we are
creating or editing a menu -->
<form method="post" th:action="@{'/menu/{id}' (id = ${menu?.getId()})}">
    <div>
        <label for="restaurantName">Restaurant Name</label>
        <input type="text"
               id="restaurantName"
               name="name"
               th:value="${menu?.restaurantName}"
               required>
    </div>

    <div>
        <label>Menu Type</label><br/>
        <select id="menuType" name="menuType">
            <!-- For each category you should have one <option> like below  -->
            <option th:each="i : ${T(mk.ukim.finki.wp.kol2021.restaurant.model.MenuType).values()}" th:value="${i}" th:text="${i}"></option>
        </select>
    </div>

    <div>
        <label>Menu Items</label><br/>
        <select id="menuItems" name="menuItemsId" multiple="multiple" size="5">
            <!-- For each category you should have one <option> like below  -->
            <option th:each="i : ${menuItems}" th:value="${i.getId()}" th:text="${i.getName()}"></option>
        </select>
    </div>

    <button id="submit" type="submit">Submit</button>
    <a id="back" href="/menu" type="button" class="btn btn-primary">Back to menus</a>
</form>

<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

</body>
</html>
