<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/menuitems/add">Add new menu item</a>
    <table>
        <thead>
            <th>id</th>
            <th>name</th>
            <th>description</th>
        </thead>
        <tbody>
            <tr th:each="x : ${menuItems}">
                <td th:text="${x.getId()}"></td>
                <td th:text="${x.getName()}"></td>
                <td th:text="${x.getDescription()}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>